<nav class="pagination" role="pagination">
	<div class="inner">
	    {{#if prev}}
	        <a class="newer-posts" href="{{page_url prev}}"><i class="fa fa-angle-left"></i> <span>Newer Posts</span></a>
	    {{/if}}
	    {{#if next}}
	        <a class="older-posts" href="{{page_url next}}"><span>Older Posts</span> <i class="fa fa-angle-right"></i></a>
	    {{/if}}
	    <div class="clear"></div>
	</div>
</nav>