/* ==========================================================================
   Includes
   ========================================================================== */

@import "icons";



$breakpoint-phone:		480px;
$breakpoint-tablet:		720px;

/* ==========================================================================
   Basics
   ========================================================================== */


html {
    font-size: 62.5%;
}

body {
	font: 300 2em / 1.5em 'Merriweather', serif;
	color: #5c5f66;
}

::-moz-selection, ::selection {
    color: #222;
    background: #D6EDFF;
    text-shadow: none;
}
a {
	color: #212226;
	text-decoration: none;
	font-weight: 400;
	-webkit-transition: all ease-out 0.25s;
	transition: all ease-out 0.25s;
}
a:hover,
a:focus {
	color: #000;
}
.post-content a {
	border-bottom: 1px solid #d8dfe5;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', sans-serif;
	text-rendering: optimizeLegibility;
	color: #212226;
	font-weight: 800;
}

h1 {
	font-size: 2em;
	line-height: 1em;
	text-indent: -1px;
	margin: 60px auto 40px;
}

h2 {
	font-size: 1.75em;
	line-height: 1.111em;
	text-indent: -1px;
	margin: 60px auto 40px;
}

h3 {
	font-size: 1.5em;
	line-height: 1.333em;
    margin: 40px auto;
}

h4 {
	font-size: 1.25em;
	line-height: 1.2em;
    margin: 40px auto;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	font-weight: inherit;
}

p, ul, ol {
    margin: 40px auto;
}

ol ol, ul ul, ul ol, ol ul {
    margin: 40px auto;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #d8dfe5;
    margin: 40px auto;
    padding: 0;
}

blockquote {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 40px auto;
    padding: 0 0 0 20px;
    border-left: #d8dfe5 5px solid;
    font-style: italic;
    font-weight: 400;
    color: #8a9199;
}

small {
    font-size: 0.9em;
    color: #45484d;
}


dl {
    margin: 40px auto;
}
dl dt {
    float: left;
    width: 180px;
    overflow: hidden;
    clear: left;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bold;
    margin-bottom: 10px;
}
dl dd {
    margin-left: 200px;
    margin-bottom: 12px;
}

mark {
    background-color: #ffc336;
}
code, tt {
	padding: 4px 8px;
	margin: 0 6px;
	font-family: 'Inconsolata', monospace, sans-serif;
	font-size: 0.75em;
	white-space: pre;
	border: 1px solid #d8dfe5;
	background: #f7f9fa;
	vertical-align: top;
	border-radius: 2px;
	-webkit-border-radius: 2px;
}

pre {
	margin: 40px auto;
	border: 1px solid #d8dfe5;
	width: 100%;
	padding: 19px;
	font-family: 'Inconsolata', monospace, sans-serif;
	white-space: pre;
	overflow: auto;
	background: #f7f9fa;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border-radius: 2px;
	-webkit-border-radius: 2px;
}

pre code, tt {
	font-size: 0.75em;
	line-height: 2em;
	white-space: -moz-pre-wrap;
	white-space: pre-wrap;
	vertical-align: inherit;
	border: none;
	padding: 0 !important;
	background: transparent !important;
}

kbd {
    display: inline-block;
    margin-bottom: 0.5em;
    padding: 1px 8px;
    border: #ccc 1px solid;
    color: #666;
    text-shadow: #fff 0 1px 0;
    font-size: 0.9em;
    font-weight: bold;
    background: #f4f4f4;
    border-radius: 4px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 1px 0 0 #fff inset;
}

table {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 40px auto;
    width:100%;
    max-width: 100%;
    background-color: transparent;
}

table th,
table td {
    padding: 9px;
    line-height: 20px;
    text-align: left;
    vertical-align: top;
    border-top: 1px solid #efefef;
}

table th { color: #000; }

table caption + thead tr:first-child th,
table caption + thead tr:first-child td,
table colgroup + thead tr:first-child th,
table colgroup + thead tr:first-child td,
table thead:first-child tr:first-child th,
table thead:first-child tr:first-child td {
    border-top: 0;
}

table tbody + tbody { border-top: 2px solid #efefef; }

table table table { background-color: #fff; }

table tbody > tr:nth-child(odd) > td,
table tbody > tr:nth-child(odd) > th {
    background-color: #f6f6f6;
}

table.plain tbody > tr:nth-child(odd) > td,
table.plain tbody > tr:nth-child(odd) > th {
    background: transparent;
}


img {
	display: block;
	max-width: 100%;
	height: auto;
	margin: 40px auto;
}

.clear {
	clear: both;
}
.hidden {
	display: none;
}

/* ==========================================================================
   Default
   ========================================================================== */

#main-header {
	position: relative;
	text-align: center;
	padding: 40px 0;
	z-index: 30;
	
	-webkit-transition: all ease 0.5s;
	transition: all ease 0.5s;
	
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	
	&.has-cover {
		background-color: #292e33;
	}
	
	@media only screen and (max-width: $breakpoint-tablet) {
		padding-top: 80px;
	}
}
.post-template #main-header {
	height: 40px;
	padding: 20px 0;
	background: #fff;
}
#main-nav {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 5;
	font-family: 'Open Sans', sans-serif;
}
#main-nav > span {
	display: block;
	-webkit-animation: 1s ease 0s normal none 1 fadeIn;
	animation: 1s ease 0s normal none 1 fadeIn;
}
#main-nav #home-link {
	float: left;
	padding: 15px 0 0 15px;
}
#main-nav #nav-link {
	float: right;
	padding: 15px 15px 0 0;
}
@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
		-webkit-transform: scale(0.75);
	}
	100% {
		opacity: 1;
		-webkit-transform: scale(1);
	}
}
@keyframes fadeIn {
	0% {
		opacity: 0;
		transform: scale(0.75);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}
#main-nav a {
	text-decoration: none;
	font-size: 0.75em;
	display: inline-block;
	color: #8a9199;
	margin: 5px;
	border: 1px solid #c2c7cc;
	height: 38px;
	line-height: 38px;
	padding: 0 15px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-webkit-transition: all ease 0.3s;
	transition: all ease 0.3s;
}
#main-nav a:hover,
#main-nav a:focus {
	color: #292e33;
	border-color: #292e33;
}
.has-cover #main-nav a {
	color: rgba(255,255,255,0.75);
	border-color: rgba(255,255,255,0.5);
}
.has-cover #main-nav a:hover,
.has-cover #main-nav a:focus {
	color: rgba(255,255,255,1);
	border-color: rgba(255,255,255,0.75);
}
.site-title {
	display: block;
	margin: 20px 0;
}
.site-logo {
	position: relative;
	z-index: 10;
}
.site-logo img {
	display: block;
	margin: 0 auto 1em;
	padding: 0;
	max-width: 20em;
	max-height: 4em;
}
.site-name {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	letter-spacing: -1px;
	display: inline-block;
	line-height: 1em;
	font-size: 2em;
	text-align: center;
	text-decoration: none;
	color: #212226;
	padding: 0;
	margin: 0;
}
.home-template .site-name {
	font-size: 3em;
}
.has-cover .site-name {
	color: #fff;
}
.site-description {
	display: block;
	text-align: center;
	margin: 20px auto -10px;
	color: #8a9199;
	position: relative
}
.has-cover .site-description {
	color: #fff;
}
.site-description:after {
	content: '';
	position: absolute;
	height: 1px;
	width: 100px;
	margin-left: -50px;
	left: 50%;
	top: -10px;
	background: #d8dfe5;
}
.has-cover .site-description:after {
	background: #fff;
}
.site-cover {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
    background: no-repeat scroll center center / cover;
    z-index: -1;
    opacity: 0.8;
}


#wrapper {
	position: relative;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	min-height: 100vh;
	padding-bottom: 3em;
}
#footer {
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 0;
	font-size: 0.75em;
	line-height: 1.333em;
	background: #f7f9fa;
	color: #8a9199;
	z-index: 20;
}
#footer:after {
	content: '';
	position: absolute;
	background: #d8dfe5;
	width: 100%;
	height: 1px;
	left: 0;
	top: 0;
}
#footer a {
	color: inherit;
	font-weight: 700;
}
.credits {
	text-align: center;
	font-size: 0.75em;
	line-height: 1.333em;
	color: #c2c7cc;
	padding: 20px;
	overflow: auto;
}
.credits span {
	display: block;
}
.credits-theme {
	float: left;
}
.credits-software {
	float: right;
}


.inner {
	max-width: 704px;
	margin: 0 auto;
	padding: 0 32px;
}

/* ==========================================================================
   Index
   ========================================================================== */

.post {
	position: relative;
	padding: 100px 0 120px;
	z-index: 10;
}
#post-index {
	position: relative;
} 
#post-index .post:after {
	content: '';
	position: absolute;
	background: #d8dfe5;
	width: 100%;
	height: 1px;
	left: 0;
	top: 0;
}
#post-index .post:first-child:after {
	display: none;
}
#post-index .post.featured {
	background: #f7f9fa;
}
.post-image {
	height: 0;
	padding-bottom: 50%;
	margin: 0 auto 2em;
	background: no-repeat center center / cover #f7f9fa;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	overflow: hidden;
}
.post-image img {
	visibility: hidden;
	margin: auto;
}
.post-meta {
	display: block;
	font-size: 0.75em;
	line-height: 1.333em;
	color: #c2c7cc;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}
.post-meta a {
	color: #8a9199;
	text-decoration: none;
}
.post-meta a:hover,
.post-meta a:focus {
	color: #292e33;
}
.post-title {
	color: #000;
	font-size: 2em;
	font-weight: 800;
	text-indent: -1px;
	margin: 0.25em 0 0.75em;
}
.post-title a {
	text-decoration: none;
	color: inherit;
	font-weight: inherit;
}
.post-excerpt p {
	margin: auto;
}

/* ==========================================================================
   Pagination
   ========================================================================== */


.pagination {
	min-height: 40px;
	margin: 0;
	padding: 40px 0;
	position: relative;
	font-family: 'Open Sans', sans-serif;

	&:after {
		content: '';
		position: absolute;
		background: #d8dfe5;
		width: 100%;
		height: 1px;
		left: 0;
		top: 0;
	}
	
	.pagination-prev,
	.pagination-next {
		position: relative;
		display: block;
		text-align: center;
		text-decoration: none;
		color: #8a9199;
		border: 1px solid #c2c7cc;
		font-size: 0.75em;
		height: 38px;
		line-height: 38px;
		padding: 0 15px;
		transition: all ease 0.3s;
		-webkit-transition: all ease 0.3s;
		border-radius: 2px;
		-webkit-border-radius: 2px;
		z-index: 100;
		
		&:hover,
		&:focus {
			color: #292e33;
			border-color: #292e33;
		}
		
		@media only screen and (max-width: $breakpoint-phone) {

			> span {
				display: none;
			}
		}
	}
	.pagination-prev {
		float: right;
	}
	.pagination-next {
		float: left;
	}
	
	.pagination-info {
		display: block;
		font-size: 0.75em;
		height: 40px;
		left: 0;
		line-height: 40px;
		position: absolute;
		text-align: center;
		width: 100%;
		z-index: 50;
	}
}

.extra-pagination {
	display: none;
	
	&:after {
		display: none;
	}
}

.paged .extra-pagination {
	display: block;
}

/* ==========================================================================
   Post
   ========================================================================== */

.post-footer {
	margin: 60px 0;
	padding: 18px 0;
	border-top: 1px solid #d8dfe5;
	border-bottom: 1px solid #d8dfe5;
	overflow: hidden;
}
.post-footer > .post-meta {
	float: left;
	margin-bottom: 0;
	max-width: 75%;
}
.post-share {
	float: right;
}
.post-share > a {
	font-size: 0.75em;
	display: block;
	width: 1.333em;
	height: 1.333em;
	line-height: 1.333em;
	text-align: center;
	text-decoration: none;
	color: #fff;
	padding: 0;
	margin: 0 0 0 0.666em;
	float: left;
	border-radius: 2px;
	transition: all ease 0.3s;
	-webkit-transition: all ease 0.3s;
}
.post-share > a:hover,
.post-share > a:focus {
	background-color: #404040;
}
.icon-twitter {
	background-color: #3ea9dd;
}
.icon-facebook {
	background-color: #3c5a98;
}
.icon-gplus {
	background-color: #d14836;
}
.post-share > iframe {
	position: relative;
	top: -1px;
	margin-left: 0.5em;
}
.post-author {
	clear: both;
	margin: 60px 0;
	padding: 20px 0;
}
.post-author-avatar {
	float: left;
	width: 15%;
	margin: -0.5em 0 0 1em;
	overflow: hidden;
	border-radius: 10em;
	-webkit-border-radius: 10em;
}
.post-author-avatar img {
	width: 100%;
	margin: auto;
}
.post-author-bio {
	padding-left: 20%;
    font-size: 0.75em;
    line-height: 1.333em;
}
.post-author-bio h4 {
	margin: 0;
    font-size: 1.333em;
    line-height: 1em;
}
.post-author-bio span {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: #8a9199;
	margin-right: 20px;
}
.post-author-bio span i {
	color: #c2c7cc;
}
.post-author-bio a {
	color: inherit;
	text-decoration: none;
}
.post-author-bio p {
	margin: 0.666em 0;
}
.post-comments {
	padding: 1em;
	background-color: #f7f9fa;
	border: 1px solid #d8dfe5;
	border-radius: 2px;
	-webkit-border-radius: 2px;
}

@media only screen and (max-width: $breakpoint-tablet) {
	.credits span {
		display: inline;
		margin: auto;
		float: none;
	}
}

@media only screen and (max-width: $breakpoint-phone) {
	html {
	    font-size: 50%;
	}
	.inner {
		padding: 0 16px;
	}
	.post-template #main-header {
		padding: 16px 0;
	}
	#main-nav a {
		padding: 0 10px;
	}
	.post {
		padding: 60px 0;
	}
	.post-footer > .post-share,
	.post-footer > .post-meta {
	    float: none;
	    font-size: 1em;
	    max-width: none;
	}
	.post-footer > .post-share > * {
		margin: 1em 1em 1em 0;
	    font-size: 1em;
	    top: auto;
	}
	.post-author-avatar {
		margin: -0.25em 0 0 0.5em;
	}
}
