/*

Monokai Sublime style. Derived from Monokai by noformnocontent http://nn.mit-license.org/

*/

pre code {
	display: block;
	padding: 0.5em;
	color: #e3e3e3;
}
pre .title,
pre .tag {
	color: #ffcf85;
}
pre .literal,
pre .change,
pre .winutils,
pre .flow,
pre .lisp .title,
pre .clojure .built_in,
pre .nginx .title,
pre .tex .special {
	color: #68d9f0;
}
pre .params {
	color: #fd9720;
}
pre .constant {
	color: #66d9ef;
}
pre .expression {
	color: #6b8188;
}
pre .expression .variable,
pre .expression .begin-block,
pre .expression .end-block {
	color: #97b0b8;
}
pre .class .title {
	color: #a6e22e;
}
pre .attribute {
	color: #d58943;
}
pre .symbol,
pre .symbol .string,
pre .value,
pre .css .tag {
	color: #80aac6;
}
pre .keyword {
	color: #c48944;
}
pre .function .keyword,
pre .css .keyword {
	color: #be643a;	
}

pre .tag .value,
pre .number,
pre .string,
pre .css .id,
pre .subst,
pre .haskell .type,
pre .ruby .class .parent,
pre .built_in,
pre .sql .aggregate,
pre .django .template_tag,
pre .django .variable,
pre .smalltalk .class,
pre .django .filter .argument,
pre .smalltalk .localvars,
pre .smalltalk .array,
pre .attr_selector,
pre .pseudo,
pre .addition,
pre .stream,
pre .envvar,
pre .apache .tag,
pre .apache .cbracket,
pre .tex .command,
pre .prompt {
  color: #c3bc25;
}
pre .comment,
pre .javadoc,
pre .java .annotation,
pre .python .decorator,
pre .template_comment,
pre .pi,
pre .doctype,
pre .deletion,
pre .shebang,
pre .apache .sqbracket,
pre .tex .formula {
  color: #75715e;
}
pre .coffeescript .javascript,
pre .javascript .xml,
pre .tex .formula {
  opacity: 0.5;
}
pre .xml .javascript,
pre .xml .vbscript,
pre .xml .css,
pre .xml .cdata {
  opacity: 0.5;
}
