/* ==========================================================================
   Table of Contents
   ========================================================================== */

/*

    0.  Includes

 */

/* ==========================================================================
   0. Includes - Ground zero
   ========================================================================== */

@import url(normalize.css);





#site-head {
	background: #8fccc7 !important;
}
.inner {
	width: 66.666%;
	margin: 0 auto;	
}